node_modules

# It would be nice to move this junk into a build directory we could ignore in
# its entirety.
fskube.js
fskube.js.map
fskube.py
fskube_wrap.*
tester
*.d
*.o
*.so

__pycache__
*.pyc

# vim stuff
*.swp
